.img-news{
    width: 100%;
    height: auto;
}

.title-section{
    margin-top: 50px;
}

.resize{
    resize: none;
}


.large{
    width: 100%;
}

.img-success{
    width: 100%;
    height: auto;
}
